<style>
    .b1 {
    background-color: rgb(202, 0, 0);
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 8px;
    margin-left: 20px;
    font-size: 15px;
    transition: opacity 0.15s;
    vertical-align: top;
  }

  .b1:hover {
    /* background-color: green; */
    opacity: 0.5;
  }
  .b1:active{
    /* background-color: blue; */
  }

  .b2 {
    background-color: white;
    border-color: rgb(118, 196, 235);
    border-style: solid;
    border-width: 1px;
    color:  rgb(118, 196, 235);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;

    cursor: pointer;
    font-size: large;
    transition: background-color 1s, color 1s;
  }
  .b2:hover{
    color: white;
    background-color: rgb(118, 196, 235);
  }

  .b2:active{
    opacity: 0.7;
  }

  .b3 {
    background-color: rgb(5, 148, 250);
    color: white;
    height: 36px;
    border-radius: 18px;
    width: 70px;
    border: none;
    margin-left: 8px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: box-shadow 0.15s;
    vertical-align: top;
  }

  .b3:hover{
    box-shadow: 5px 5px 5px rgba( 0, 0, 0, 0.15);
  }

  .b4 {
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 12px;
    padding-top: 12px;
    background-color: black;
    color: white;
    border: none;
  }

  .b4:hover{
    opacity: 0.8;
  }

  .b5{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 12px;
    padding-top: 12px;
    border-radius: 18px;
    border: none;
    background-color: yellow;
    margin-left: 8px;
  }

  .b5:hover{
    background-color: orange;
  }

  .b6{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 12px;
    padding-top: 12px;
    border: none;
    border-radius: 6px;
    background-color: rgb(46, 164, 79);
    color: white;
    font-weight: bold;
  }

  .b6:hover{
    box-shadow: 0 5px 8px rgba( 0, 0, 0, 0.15);
  }

  .b7{
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 12px;
    padding-top: 12px;
    background-color: rgb(121, 82, 179);
    color: white;
    border: none;  
    border-radius: 4px; 
    font-weight: bold;
    font-size: small;
  }

  .b7:hover{
    background-color: blueviolet;
  }

  .b8{
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 12px;
    padding-top: 12px;
    background-color: rgb(250, 250, 250);
    color: grey;
    border-width: 1px;
    border-radius: 4px; 
    font-weight: bold;
    font-size: small;
    border-color: grey;
    transition: color 1s;
  }

  .b8:hover{
    background-color: gray;
    color: white;
  }

  .b9{
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 18px;
    border: none;
    background-color: rgb(10, 102, 194);
    color: white;
    font-weight: bold;
    transition: background-color 1s;
  }

  .b9:hover{
    background-color: blue;
  }

  .b10 {
    background-color: white;
    border-color:  rgb(15, 94, 162);
    border-style: solid;
    border-width: 1px;
    color:  rgb(15, 94, 162);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 3px;
    cursor: pointer;
    border-radius: 18px;
    font-weight: bold;
    transition: background-color 0.15s, border-width 0.15s;
  }

  .b10:hover{
    border-width: 3px;
    background-color: rgb(103, 194, 250);
  }
  
  .link {
    color: rgb(0,113, 133);
  
  }
  .link:hover{
    color: orangered;
  }
  .green{
    color: rgb(0,118,0);
  }

  .b11{
    width: 100px;
    height: 35px;
    border-radius: 17px;
    border: none;
    background-color: rgb(255, 216, 20);

  }

  .b11:hover{
    background-color: rgb(255, 231, 20);
  }
  .b11:active{
    opacity: 0.8  ;
  }

  .b12{
    width: 100px;
    height: 35px;
    border-radius: 17px;
    border: none;
    background-color: rgb(255, 164, 28);
    margin-left: 10px;
    
  }

  .b13{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 9px;
    padding-top: 9px;
    margin-right: 5px;
    

  }

  .b14{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 9px;
    padding-top: 9px;
    margin-left: 5px;
  }
  .b15{
    background-color: green;
    color: white;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: padding-top 1s, padding-bottom 1s,
    padding-left 1s, padding-right 1s;
  }
  .b15:hover{
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
    text-align: center;
  }

  .b16{
    background-color: green;
    color: white;
    border: none;
    /* padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px; */
    box-shadow: 3px 3px 5px rgba( 0, 0, 0, 0.5);
  }
  .b16:active{
    /* background-color: green;
    color: white;
    border: none; */
    box-shadow: 0 0 0 ;
  }

  .b17{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;  
    color: white;
    background-color: green; 
    border: none;
    transition: padding-left 0.15s, padding-right 0.15s;
    margin-right: 5px;
  }
  .b17:hover{
    padding-left: 30px;
    padding-right: 30px;
  }
  .b18{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    background-color: green;
    border: none; 
    transition: padding-left 0.15s, padding-right 0.15s;
  }
  .b18:hover{
    padding-left: 30px;
    padding-right: 30px;
  }
  .b19{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    background-color: green;
    border: none; 
    transition: padding-left 0.15s, padding-right 0.15s;
  }
  .b19:hover{
    padding-left: 30px;
    padding-right: 30px;
  }
</style>